<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="../images/barbell-plank.jpeg" style="width: 100%; height: auto">
        </div>
        <div class="col-md-7">
            <h1>Welcome to ExSirSize</h1>
            <p>Providing a digital assistant for all your workout needs</p>
            <p>With fully customizable tools and training planners</p>
            <p>Get ready for your ExSirSize experience</p>
        </div>
    </div>
</div>