@import url(http://fonts.googleapis.com/css?family=Oswald);
@brand-primary: #cf0b21;
@brand-secondary: #00206e;
@navbar-default-bg: rgb(153, 49, 36);
@navbar-default-link-active-bg: rgba(255, 68, 85, 0.51);
@navbar-default-link-color: #ffd4cd;;
@navbar-default-link-hover-color: #00206e;
@navbar-default-link-hover-bg: #ffd4cd;
@text-color: #00206e;
@font-family-sans-serif: Oswald, sans-serif;